doctype html
html
	head
		title Design in the Browser
		script(src="./vendor/jquery/dist/jquery.js")
		script(src="./js/lib/framer.js")
		script(src="./js/app/start.js")
	body
		
		block content

		footer